---
import { Section, Heading1 } from "@components/base";
import { ListView, ListViewItem, ListViewItemImage, ListViewItemTitle, ListViewItemMeta, ListViewItemChevron } from "@components/common";
import { Layout } from "@layouts";
import { getSectionCollection } from "@utils/getSectionCollection";

const experienceSection = await getSectionCollection("experience");
---

<Layout
  title="Experience | Jonathon Toon"
  description="A comprehensive look at Jonathon Toon's professional experience across design, product, and engineering roles at innovative companies."
  keywords="experience, career, software design, product design, leadership, technology companies, startups"
  twitterHandle="@jonathontoon"
  canonicalUrl="https://www.jonathontoon.com/experience/"
  ogImage="/images/og-image.png"
>
  <Section class="flex flex-col gap-y-2">
    <Heading1 class="font-semibold text-xl tracking-normal px-2">Experience</Heading1>
    <ListView>
      {experienceSection.map((experience) => (
        <ListViewItem href={experience.slug ? `/experience/${experience.slug}` : undefined}>
          <ListViewItemImage 
            slot="image" 
            src={experience.logo ? `/${experience.logo}` : undefined}
            alt={`${experience.title} logo`}
          />
          <Fragment slot="content">
            <ListViewItemTitle>{experience.title}</ListViewItemTitle>
            <ListViewItemMeta class="text-stone-700 md:hidden">{experience.subtitle}</ListViewItemMeta>
            <ListViewItemMeta class="text-stone-500 text-sm md:hidden">{experience.date}</ListViewItemMeta>
            <ListViewItemMeta class="text-stone-500 hidden md:block">{`${experience.subtitle} · ${experience.date}`}</ListViewItemMeta>
          </Fragment>
          <ListViewItemChevron slot="action" />
        </ListViewItem>
      ))}
    </ListView>
  </Section>
</Layout>