---
import { Section, Link, Div, H1, H2, Paragraph } from "@components/base";
import { ProfileImage, ListView, ListViewItem, ListViewItemImage, ListViewItemTitle, ListViewItemMeta, ListViewItemChevron, ListViewItemLink } from "@components/common";
import { Layout } from "@layouts";
import { getCollection } from "astro:content";

const experience = await getCollection("experience");
const sortedExperience = experience.sort((a, b) => 
  new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime()
);

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => 
  new Date(b.data.releaseDate).getTime() - new Date(a.data.releaseDate).getTime()
);

const education = await getCollection("education");
const sortedEducation = education.sort((a, b) => 
  new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime()
);

const achievements = await getCollection("achievements");
const sortedAchievements = achievements.sort((a, b) => 
  new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);


function formatDateRange(startDate: string, endDate?: string): string {
  const startYear = new Date(startDate).getFullYear();
  const endYear = endDate ? new Date(endDate).getFullYear() : "Now";
  
  if (endYear !== "Now" && startYear === endYear) {
    return `${startYear}`;
  }
  
  return `${startYear} — ${endYear}`;
}
---

<Layout
  title="Jonathon Toon | Home"
  description="Jonathon Toon is a software designer, leader, and mentor, living and working remotely in Aotearoa New Zealand. He has a passion for creating impactful digital experiences and fostering innovation in teams."
  keywords="design, software, product, fractional, leadership, new zealand, aoteoroa, technology, typescript, start ups, engineering, mentorship, coaching, adplist"
  twitterHandle="@jonathontoon"
  canonicalUrl="https://www.jonathontoon.com/"
  ogImage="/images/og-image.png"
>
  <Section class="flex flex-row">
    <Div class="px-2">
      <Link href="/" class="block w-24">
        <ProfileImage class="w-full aspect-square bg-blue-500 rounded-xl" />
      </Link>
    </Div>
  </Section>
  <Section class="flex flex-col gap-y-4">
    <H1 class="font-semibold text-3xl md:text-2xl tracking-tight px-2">Nice to meet you, I’m Jonathon.</H1>
    <Paragraph class="px-2">A versatile software designer, leader, and mentor, living and working remotely in Aotearoa New Zealand.</Paragraph>
    <Paragraph class="indent-4 px-2">For the past 15 years, I’ve worked across the organizational stack cultivating and leading teams, while designing and shipping products at innovative companies in Asia, Oceania, and North America.</Paragraph>
    <Paragraph class="indent-4 px-2">In that time, I’ve built deep, hands-on expertise in product, brand and engineering, and learned how to bring those disciplines together to create products that make a real impact.</Paragraph>
  </Section>
  <Section class="flex flex-col gap-y-4">
    <H2 class="font-semibold text-xl tracking-normal px-2">Experience</H2>
    <ListView>
      {sortedExperience.map((experience) => (
        <ListViewItem href={`/experience/${experience.slug}`}>
          <ListViewItemImage 
            slot="image" 
            src={experience.data.logo ? `/${experience.data.logo}` : undefined}
            alt={`${experience.data.title} logo`}
          />
          <Fragment slot="content">
            <ListViewItemTitle>{experience.data.title}</ListViewItemTitle>
            <ListViewItemMeta>{`${formatDateRange(experience.data.startDate, experience.data.endDate)} · ${experience.data.focus}`}</ListViewItemMeta>
          </Fragment>
          <ListViewItemChevron slot="action" />
        </ListViewItem>
      ))}
    </ListView>
  </Section>
  <Section class="flex flex-col gap-y-4">
    <H2 class="font-semibold text-xl tracking-normal px-2">Projects</H2>
    <Paragraph class="px-2">I love to build things on my own. Either to explore new technologies, to make a little pocket money, or simply just for fun.</Paragraph>
    <ListView>
      {sortedProjects.map((project) => (
        <ListViewItem>
          <ListViewItemImage 
            slot="image" 
            src={project.data.logo ? `/${project.data.logo}` : undefined}
            alt={`${project.data.name} logo`}
          />
          <Fragment slot="content">
            <ListViewItemTitle>{project.data.name}</ListViewItemTitle>
            <ListViewItemMeta>{`${new Date(project.data.releaseDate).getFullYear()} · ${project.data.technology.join(", ")}`}</ListViewItemMeta>
          </Fragment>
          <ListViewItemLink href={project.data.url} slot="action" />
        </ListViewItem>
      ))}
    </ListView>
  </Section>
  <Section class="flex flex-col gap-y-4">
    <H2 class="font-semibold text-xl tracking-normal px-2">Patents, Publications, Awards</H2>
    <Paragraph class="px-2">Highlights from my career and education which have been picked up in the press, recognized with awards, or even patented.</Paragraph>
    <ListView>
      {sortedAchievements.map((achievement) => (
        <ListViewItem>
          <Fragment slot="content">
            <ListViewItemTitle>{achievement.data.title}</ListViewItemTitle>
            <ListViewItemMeta>{`${new Date(achievement.data.date).getFullYear()} · ${achievement.data.author} · ${achievement.data.type}`}</ListViewItemMeta>
          </Fragment>
          {achievement.data.url && (
            <ListViewItemLink href={achievement.data.url} slot="action">
              View
            </ListViewItemLink>
          )}
        </ListViewItem>
      ))}
    </ListView>
  </Section>
  <Section class="flex flex-col gap-y-4">
    <H2 class="font-semibold text-xl tracking-normal px-2">Education</H2>
    <ListView>
      {sortedEducation.map((education) => (
        <ListViewItem>
          <ListViewItemImage 
            slot="image" 
            src={education.data.logo ? `/${education.data.logo}` : undefined}
            alt={`${education.data.name} logo`}
          />
          <Fragment slot="content">
            <ListViewItemTitle>{education.data.name}</ListViewItemTitle>
            <ListViewItemMeta>{`${formatDateRange(education.data.startDate, education.data.endDate)} · ${education.data.qualification}`}</ListViewItemMeta>
          </Fragment>
        </ListViewItem>
      ))}
    </ListView>
  </Section>
</Layout>
